body
{
	font-family: 'Trebuchet MS';
}
a:focus
{
	outline: none !important;
}
.table
{
	margin: 0;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover 
{
  background-color: #A1CF32;
}

input:focus,
textarea:focus {
  border-color: rgba(161, 207, 50, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(161, 207, 50, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(161, 207, 50, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(161, 207, 50, 0.8);
  outline: 0;
  outline: thin dotted \9;
}
.btn-primary {
    background-color: #A1CF32;
    background-image: -moz-linear-gradient(top, #AAE900, #7CA900);
    background-image: -ms-linear-gradient(top, #AAE900, #7CA900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AAE900), to(#7CA900));
    background-image: -webkit-linear-gradient(top, #AAE900, #7CA900);
    background-image: -o-linear-gradient(top, #AAE900, #7CA900);
    background-image: linear-gradient(top, #AAE900, #7CA900);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAE900', endColorstr='#7CA900', GradientType=0);
    border-color: #7CA900 #7CA900 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #7CA900;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #080808 \9;
}

.btn:hover i,
.btn:hover .icon-chevron-down
{
	color: #668C00;
}

.tooltip-inner
{
	background-color: #668C00;
}

.tooltip.bottom .tooltip-arrow
{
	border-bottom: 5px solid #668C00;
}

#nav
{
	z-index: +1;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #FFF;
	box-shadow: 0px 3px 5px #666666;
}
#nav,
#float
{
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
#actions
{
	line-height: 5em;
	text-align: center;
}
#nav .btn-group
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
#nav .dropdown-menu
{
	text-align: left;
}
table.datas
{
	border-spacing: 0;
	border: 1px solid #B3B3B3;
}
.datas colgroup
{
}
.datas tbody
{
}
#float
{
	display: block;
	border-top: 1px dotted #CCCCCC;
}
#float tr
{
	display: block;
}
#float th,
#float td
{
	border: 0;
}

.datas tr.selected,
.datas tr.selected th,
.datas tr.selected td,
.table tbody tr.selected:hover td,
.table tbody tr.selected:hover th,
.datas tr.selected:nth-child(2n+1) td, 
.datas tr.selected:nth-child(2n+1) th
{
	background: #A1CF32;
}

.table tbody tr.selected:hover td,
.table tbody tr.selected:hover th
{
	color: #FFFFFF;
}


.modal
{
	display: none;
}
.modal table
{
	width: 100%;
}
.modal table th
{
	text-align: left;
}
#sql textarea
{
	width: 520px;
	height: 200px;
}